/* popup.css */ 

/* for main popup properties */ 
body { 
    width: 300px; 
    height: 200px; 

    
}

/* global vars */ 
:root {
    --adjust: 50px;
}
.extensionHead {
    text-align: center;
}
/* LEARNING - for id: #    for classes: .   */ 
#headTitle {
    text-decoration: overline;
    text-decoration-color: #219190;
    text-decoration-thickness: 5px;
    font-weight: bold;

}

/* the switch and associated paragraphs */ 
.toggle {
    /*border: 2px solid red;*/ 

    
    position: absolute; /* need to understand thi sbetter */
    top: 50%;          /* from top of .body */
    left: 50%;         /* from left */
    display: flex;
    transform: translate(-50%, -50%); /* Adjust for the size of the element!!!! */

    justify-content: center;
    flex-direction: column; /* Stack elements vertically */
}

/* the background 'field' of the switch */ 
.switch {
    position: relative;
    display: inline-block;
    width: calc(var(--adjust)*2.308);
    height: calc(var(--adjust)* 1.308);
    display: inline-block; /* prevent stretching */

}

    /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
   }

    /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

/* the content within the .slider element. Represents the small circle/square thingy that moves */ 
.slider:before {
    position: absolute;  /* position is ABSOLUTELY WITHIN PARENT .SLIDER*/ 
    content: "";
    height: var(--adjust);
    width: var(--adjust);
    left: calc(var(--adjust)*0.154);
    bottom: calc(var(--adjust)*0.154);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(var(--adjust));
    -ms-transform: translateX(var(--adjust));
    transform: translateX(var(--adjust));
}

/* CONTROLS THE ROUNDNESS OF THE **SWITCH**!!! THE BOX CONTAINING THE SLIDER*/ 
.slider.round {
    /* default is calc(var(--adjust)* 1.308), same as the DIAMETER OF THE SLIDER */
    border-radius: 20px;
}

.slider.round:before {
    /* default at 50% for COMPLETE CIRCLE (50% on each side) */ 
    border-radius: 30%;   
}


/* ------------------------ */ 